
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',sans-serif;
  background-color: #342F56;
  font-size: 16px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;
  color: white
}

.main .calculadora{
  width: 20vw;
  height: 60vh;
  box-shadow: inset 0 0 2em black, 0 0 2em black;
}

.main .calculadora > .display{
  width: 100%;
  height: 30%;
  padding-right: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #090822;
}

.main .calculadora > .display #expression{
  font-size: 2rem
}




.main .calculadora > .buttons{
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  background-color: #0F0E31;
}

.main .calculadora > .buttons .btn, .equal, .clear{
  width: 24.2%;
  height: 20%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .calculadora > .buttons .zero{
  flex-grow: 0.9;
}

.main .calculadora > .buttons .btn:hover{
  color: #E6D270;
  text-shadow: 2px 2px #48CEFA
}
